.about-container {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
}

.about-heading {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-bio {
    width: 250px;
}
.about-image {
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    background-image: cover;
}

.about-subheading {
    /* border: 1px solid blue; */
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    background-image: url('public/redrock-one.jpeg');
    color: white

}

.about-description {
    /* border: 1px solid red; */
    height: 300px;
    font-family: sans-serif;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    padding: 35px;
}