.explore {
  /* border: 1px solid red; */
  width: 100vw;
  height: 54.5rem;
  position: relative;
}
.mapbox {
  /* border: 1px solid blue; */
  width: 100%;
  height: 100%;
  position: relative;

  display: flex !important;
  justify-content: center;
  align-items: center;
}

.mapbox__loading {
}

.explore__bar {
  /* border: 1px solid red; */
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: white;
  height: 6rem;
}

.explore__filter-header {
  text-align: center;
  /* border: 1px solid red; */
}

.explore__posts {
  /* border: 1px solid blue; */
  position: absolute;
  height: 52.5rem;
  width: 10rem;
  top: 1rem;
  left: -30rem;
  background-color: white;
  /* transform: translateX(-110%); */
  transition: all 0.5s ease-out;
}

.show-posts {
  transform: translateX(31rem);
}

.explore__clear-posts {
  position: absolute !important;
  top: 0rem;
  left: 26.6rem;
  z-index: 1;
}
