.faq-wrapper {
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    /* border: 1px solid red; */
}
.faq-page {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 700px;  
    /* border: 1px solid blue; */
    background-image: url('public/faq-six.jpeg');
    background-size: cover;
    background-repeat:  no-repeat;
    padding-top: 100px;

}
.faq-heading {
    padding: 40px 20px;
    background-color: white;
}

.faq-acccordion {
    /* border: 3px solid red; */
    width: 650px;
}
