.features__box {
    /* border: 1px solid purple; */
    text-align: center;
    background-color: #7286a0;
    color: #fff;
    padding-bottom: 45px;
    padding-top: 25px;
}

.features-heading {
    margin-bottom: 25px;
}


