.login-page {
    /* border: 1px solid red; */
    display: flex !important;
    flex-direction: row;
    font-family: sans-serif;
}

.login-left {
    /* border: 1px solid blue; */
    height: 700px;
    overflow: hidden;
}

.login-welcome {
    /* border: 1px solid blue; */
    position: absolute;
    top: 15vw;
    left: 13vw;
    font-size: 50px;
    font-family: "Permanent Marker", cursive;
    color: white;
}

.login-image {
    /* border: 1px solid green; */
    width: 100%;
    float: left;
    position: relative;

}
.login-right {
    /* border: 2px solid pink; */
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3e3e3e;
    
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 25px;
    margin: 30px;
    border-radius: 5px;
    color: whitesmoke;
    background-color: #3e3e3e;
}

.login-button {
    width: 100px;
    color: white !important;
    background-color: #7286a0 !important;
}

.login-input{
    padding: 8px;
}

.login-header {
    padding: 8px;
    margin: 5px;
}

.my-swal{
    font-family: "Montserrat", sans-serif;
}