.testimonial-main-container{
  /* border: 1px purple solid; */
  display: flex;
  flex-direction: column;

  /* margin-left: 30px; */
}
.testimonial-container {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  height: 100%;
}
/* .carousel-container{
  border: 1px solid green;
} */

.testimonial-card {
/* border: 1px pink solid; */
 width: 100%;
 height: 90%;
 background-color: #4F6D7A;
 display: flex;
 justify-content: center; 
 align-items: center; 
 position: relative;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 
}
.image-name-container {
  /* border: 1px solid purple; */
  position: relative;
  padding: 15px;
  margin-top: 30px;
}

.testimonial-image {
  /* border: 1px greenyellow solid; */
    opacity: 0.8;
    border-radius: 50%;
    max-height: 250px;
    max-width: 250px; 
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
} 

.testimonial-name {
  /* border: 1px yellow solid; */
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

.testimonial-text {
  /* border: 1px yellow solid; */
  color: black;
  padding: 15px;
  height: 200px;
  padding-top: 25px;
}

.section__header {
  /* border: 2px yellow solid; */
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  background-color: #7286a0;
  color: white;
}



