.cardcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.testimonal-card {
 max-width: 325px;
 height: 400px;
 background-color: #4F6D7A;
 display: flex;
 justify-content: center; 
 align-items: center; 
 position: relative;
}

.testimonal-image {
    opacity: 0.6;
    border-radius: 50%;
    max-height: 250px;
    max-width: 250px;
    position: relative;
}

.testimonal-name {
    position: absolute;
    color: black;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: '1.5rem';
}

.testimonial-text {
    color: black;
    position: relative;
}